.button {
    padding: 10px 33px;
    background-color: $pink;
    color: $white;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.button:hover {
    color: $pink;
    background-color: $white;
}

.button__transparent {
    color: $pink;
    background-color: transparent;
    border: 1px solid $pink;
}

.button__wide {
    padding: 17px 122px;
}

.button__small {
    padding: 9px 29px;
    font-size: 14px;
    line-height: 21px;
}