.header {
  padding: 30px 0;
  border-bottom: 1px solid $gray-300;
  position: fixed;
  width: 100%;
  background-color: $bg;
  z-index: 90;

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
    max-width: 1332px;
    margin: 0 auto;
  }

  &__logo {
    display: flex;
    column-gap: 20px;
    align-items: center;
    color: $white;
    white-space: nowrap;;
  }

  nav {
    display: flex;
    column-gap: 35px;
  }

  nav a {
    color: $gray;
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    transition: .5s;
  }

  nav a:hover {
    color: $white;
  }

  &__buttons {
    display: flex;
    column-gap: 12px;
  }

  &__search {
    max-width: 550px;
    width: 100%;
    border-radius: 10px;
    background-color: #1B1A21;
    display: flex;
    gap: 20px;
    padding: 12px 18px;
    
  }

  &__search input {
    background-color: #1B1A21;
    border: none;
    max-width: 450px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $white;
    outline: none;
  }

  &__search input::-webkit-input-placeholder { 
    color: $white; 
  }

  &__search svg {
    cursor: pointer;
  }
}


@media screen and(max-width: $grid-width) {}