.sellers {
  &__wrapper {
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-weight: 800;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.02em;
      background: linear-gradient(135deg, #FF00B8 7.81%, #FF005C 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 20px;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      margin: 0 auto 50px;
      text-align: center;
      letter-spacing: 0.02em;
    }
  }
  &__items {
    display: flex;
    gap: 34px;
    width: 100%;
    counter-reset: number;
  }
}