extends ../layouts/master

block title
  title Rise | 404

block basicSeo
  meta(name='description' content='Error page')
  meta(name='keywords', content='error, page')

block content

  main
    section
      .wrapper 
        h1 404

