include ../mixins/button
footer.footer 
  .wrapper 
    .footer__wrapper
      .footer__fb
        a(href="#").header__logo 
          <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.25" width="32" height="32" rx="10" fill="url(#paint0_linear_0_48)"/><path d="M15.5 8.16506C15.9641 7.89711 16.5359 7.89711 17 8.16506L22.6603 11.433C23.1244 11.701 23.4103 12.1962 23.4103 12.7321V19.2679C23.4103 19.8038 23.1244 20.299 22.6603 20.567L17 23.8349C16.5359 24.1029 15.9641 24.1029 15.5 23.8349L9.83975 20.567C9.37564 20.299 9.08975 19.8038 9.08975 19.2679V12.7321C9.08975 12.1962 9.37564 11.701 9.83975 11.433L15.5 8.16506Z" stroke="#24252D" stroke-width="3"/><defs><linearGradient id="paint0_linear_0_48" x1="2.75" y1="2.5" x2="32.25" y2="32" gradientUnits="userSpaceOnUse"><stop stop-color="#FF00B8"/><stop offset="1" stop-color="#FF005C"/></linearGradient></defs></svg>
          p NFT ART
        a(href="#").footer__update Get the lastes Updates
        form(action="#").footer__form
          input(type="text" placeholder="Your Email" required)
          +button('Email Me!', 'footer__button button__small ')
      .footer__block
        h3 NFT ART
        .footer__block__desc
          a(href="#").footer__block-p Explore
          a(href="#").footer__block-p How it Works
          a(href="#").footer__block-p Contact Us
      .footer__block
        h3 My Account
        .footer__block__desc
          a(href="#").footer__block-p Profile
          a(href="#").footer__block-p Favorites
          a(href="#").footer__block-p My Collections
          a(href="#").footer__block-p Settings
      .footer__block
        h3 Support  
        .footer__block__desc
          a(href="#").footer__block-p Help center
          a(href="#").footer__block-p Terms of service
          a(href="#").footer__block-p Legal
          a(href="#").footer__block-p Privacy policy
    .footer__bottom
      p NFT ART, Inc. All Rights Reserved
      .footer__social-media
        a(href="#")
          <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_0_270)"><path d="M27.8286 7.35007C27.7639 6.02172 27.5266 5.1085 27.1866 4.31717C26.8359 3.4772 26.2964 2.72518 25.5895 2.10002C24.8988 1.46513 24.0625 0.971793 23.1453 0.659308C22.266 0.351593 21.2623 0.136784 19.7948 0.0782166C18.3163 0.0146894 17.8469 0 14.0971 0C10.3472 0 9.87787 0.0146894 8.40486 0.0732565C6.93733 0.131824 5.92842 0.346824 5.0544 0.654348C4.12621 0.971793 3.29539 1.46017 2.60472 2.10002C1.90331 2.72518 1.35849 3.48216 1.01306 4.3124C0.6731 5.1085 0.435783 6.01676 0.37108 7.34511C0.300897 8.68338 0.284668 9.10822 0.284668 12.5024C0.284668 15.8967 0.300897 16.3215 0.3656 17.6548C0.430304 18.9832 0.667831 19.8964 1.00779 20.6877C1.35849 21.5277 1.90331 22.2797 2.60472 22.9049C3.29539 23.5398 4.13169 24.0331 5.04892 24.3456C5.92842 24.6533 6.93185 24.8681 8.39959 24.9267C9.87239 24.9854 10.342 24.9999 14.0918 24.9999C17.8417 24.9999 18.311 24.9854 19.784 24.9267C21.2516 24.8681 22.2605 24.6533 23.1345 24.3456C24.9907 23.696 26.4582 22.3677 27.1759 20.6877C27.5156 19.8916 27.7531 18.9832 27.8178 17.6548C27.8825 16.3215 27.8988 15.8967 27.8988 12.5024C27.8988 9.10822 27.8933 8.68338 27.8286 7.35007ZM25.3414 17.5571C25.282 18.7781 25.0554 19.4374 24.8665 19.8769C24.4025 20.966 23.4475 21.8304 22.2443 22.2505C21.7587 22.4214 21.025 22.6265 19.6814 22.6801C18.2246 22.7389 17.7877 22.7534 14.1026 22.7534C10.4174 22.7534 9.97503 22.7389 8.52352 22.6801C7.17465 22.6265 6.44626 22.4214 5.96067 22.2505C5.3619 22.0502 4.81687 21.7328 4.37448 21.3176C3.91587 20.9123 3.56516 20.4239 3.34386 19.8819C3.15502 19.4424 2.92845 18.7781 2.86923 17.5621C2.80431 16.2435 2.7883 15.8478 2.7883 12.5122C2.7883 9.17652 2.80431 8.77609 2.86923 7.46243C2.92845 6.24149 3.15502 5.58218 3.34386 5.14264C3.56516 4.60047 3.91587 4.10732 4.37996 3.7067C4.82762 3.29158 5.36717 2.97414 5.96615 2.77402C6.45174 2.60309 7.18561 2.39801 8.529 2.34421C9.98578 2.28564 10.4229 2.27095 14.1078 2.27095C17.7985 2.27095 18.2354 2.28564 19.6869 2.34421C21.0358 2.39801 21.7641 2.60309 22.2497 2.77402C22.8485 2.97414 23.3935 3.29158 23.8359 3.7067C24.2945 4.11209 24.6453 4.60047 24.8665 5.14264C25.0554 5.58218 25.282 6.24626 25.3414 7.46243C25.4061 8.78105 25.4223 9.17652 25.4223 12.5122C25.4223 15.8478 25.4061 16.2385 25.3414 17.5571Z" fill="white"/><path d="M14.0971 6.08032C10.1801 6.08032 7.00201 8.95679 7.00201 12.5025C7.00201 16.0482 10.1801 18.9246 14.0971 18.9246C18.0143 18.9246 21.1921 16.0482 21.1921 12.5025C21.1921 8.95679 18.0143 6.08032 14.0971 6.08032ZM14.0971 16.6684C11.5559 16.6684 9.49469 14.8028 9.49469 12.5025C9.49469 10.2021 11.5559 8.33659 14.0971 8.33659C16.6384 8.33659 18.6995 10.2021 18.6995 12.5025C18.6995 14.8028 16.6384 16.6684 14.0971 16.6684Z" fill="white"/><path d="M23.1292 5.82643C23.1292 6.65438 22.3875 7.32571 21.4726 7.32571C20.5579 7.32571 19.8162 6.65438 19.8162 5.82643C19.8162 4.99829 20.5579 4.32715 21.4726 4.32715C22.3875 4.32715 23.1292 4.99829 23.1292 5.82643Z" fill="white"/></g><defs><clipPath id="clip0_0_270"><rect width="27.6195" height="25" fill="white" transform="translate(0.236084)"/></clipPath></defs></svg>
        a(href="#")
          <svg width="29" height="21" viewBox="0 0 29 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.5703 2.74844C27.5432 3.15625 26.4487 3.42656 25.3077 3.55781C26.4815 2.92344 27.3774 1.92656 27.7986 0.725C26.7042 1.31562 25.4959 1.73281 24.2081 1.96563C23.1689 0.964063 21.6878 0.34375 20.0721 0.34375C16.9373 0.34375 14.4135 2.64688 14.4135 5.47031C14.4135 5.87656 14.4515 6.26719 14.5447 6.63906C9.83735 6.43125 5.67198 4.38906 2.87378 1.27813C2.38526 2.04531 2.09871 2.92344 2.09871 3.86875C2.09871 5.64375 3.10855 7.21719 4.61381 8.12812C3.70409 8.1125 2.81164 7.87344 2.05555 7.49688C2.05555 7.5125 2.05555 7.53281 2.05555 7.55312C2.05555 10.0437 4.01826 12.1125 6.59205 12.5891C6.13116 12.7031 5.62883 12.7578 5.10751 12.7578C4.745 12.7578 4.37904 12.7391 4.03553 12.6703C4.76917 14.7 6.85099 16.1922 9.32638 16.2406C7.39993 17.6047 4.95387 18.4266 2.30586 18.4266C1.8415 18.4266 1.39614 18.4078 0.950775 18.3563C3.45897 19.8203 6.43152 20.6562 9.6371 20.6562C20.0566 20.6562 25.7531 12.8438 25.7531 6.07187C25.7531 5.84531 25.7444 5.62656 25.7324 5.40938C26.8561 4.6875 27.8004 3.78594 28.5703 2.74844Z" fill="white"/></svg>
        a(href="#")
          <svg width="29" height="25" viewBox="0 0 29 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_0_280)"><path d="M11.503 15.8135L11.0461 21.6302C11.6998 21.6302 11.9829 21.376 12.3224 21.0708L15.387 18.4198L21.7372 22.6291C22.9018 23.2166 23.7223 22.9073 24.0365 21.6594L28.2047 3.98018L28.2059 3.97914C28.5753 2.42081 27.5833 1.81143 26.4486 2.19372L1.9478 10.6844C0.275668 11.2719 0.300986 12.1156 1.66355 12.4979L7.92742 14.2614L22.4771 6.02081C23.1619 5.61039 23.7845 5.83748 23.2723 6.24789L11.503 15.8135Z" fill="white"/></g><defs><clipPath id="clip0_0_280"><rect width="27.6195" height="25" fill="white" transform="translate(0.665771)"/></clipPath></defs></svg>
        a(href="#") 
          <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_0_283)"><path d="M4.50096 22.0792H20.9104L20.1267 19.7823L22.0014 21.2385L23.7195 22.6323L26.8497 25V2.57812C26.7715 1.18437 25.4457 0 23.8024 0L4.50671 0.003125C2.8645 0.003125 1.53186 1.18958 1.53186 2.58333V19.5C1.53186 20.9698 2.8622 22.0792 4.50096 22.0792ZM16.6397 5.91979L16.6017 5.93229L16.6156 5.91979H16.6397ZM7.85787 7.24167C9.96731 5.85208 11.9225 5.91875 11.9225 5.91875L12.0802 6.05937C9.49893 6.61667 8.32856 7.66042 8.32856 7.66042C8.32856 7.66042 8.64158 7.52187 9.18821 7.31042C12.6648 6.07292 16.4613 6.1625 19.9759 7.72917C19.9759 7.72917 18.8032 6.75312 16.3808 6.12812L16.5948 5.9375C16.9297 5.93854 18.702 5.99479 20.5985 7.25C20.5985 7.25 22.7206 10.5312 22.7206 14.5625C22.6504 14.4854 21.4041 16.2979 18.1968 16.3604C18.1968 16.3604 17.6536 15.8042 17.2669 15.3187C19.1427 14.8313 19.8447 13.8562 19.8447 13.8562C19.229 14.2073 18.6675 14.4156 18.2117 14.624C17.5109 14.9031 16.8089 15.0406 16.108 15.1812C12.7891 15.6687 10.9259 14.8531 9.1652 14.2062L8.56332 13.9292C8.56332 13.9292 9.26417 14.9042 11.0652 15.3917C10.5922 15.8802 10.1238 16.4354 10.1238 16.4354C6.91766 16.3667 5.74844 14.5542 5.74844 14.5542C5.74844 10.5167 7.85787 7.24167 7.85787 7.24167Z" fill="white"/><path d="M16.8469 13.3036C17.6651 13.3036 18.3314 12.6786 18.3314 11.9077C18.3314 11.1421 17.6685 10.5171 16.8469 10.5171V10.5202C16.0321 10.5202 15.3646 11.1431 15.3623 11.914C15.3623 12.6786 16.0286 13.3036 16.8469 13.3036Z" fill="white"/><path d="M11.5325 13.3036C12.3507 13.3036 13.017 12.6786 13.017 11.9077C13.017 11.1421 12.3553 10.5171 11.5371 10.5171L11.5325 10.5202C10.7142 10.5202 10.0479 11.1431 10.0479 11.914C10.0479 12.6786 10.7142 13.3036 11.5325 13.3036Z" fill="white"/></g><defs><clipPath id="clip0_0_283"><rect width="27.6195" height="25" fill="white" transform="translate(0.381104)"/></clipPath></defs></svg>

      




        