include ../mixins/seller
section.sellers
  .wrapper 
    .sellers__wrapper
      h2.reveal  Top Sellers
      p.reveal  The leading top-selling NFT artist in the top 5 list this year:<br> Examining Some of the Most Popular NFT projects
      .sellers__items.reveal 
        +seller('assets/images/photo1.png', 'Brian Domanic', '21.05 ETH')
        +seller('assets/images/photo2.png', 'Ellin Syahnaz', '20.65 ETH')
        +seller('assets/images/photo3.png', 'Abraham Lincoln', '18.35 ETH')
        +seller('assets/images/photo4.png', 'Arabella Ava', '1.05 ETH')
        +seller('assets/images/photo5.png', 'Mike Muliadro', '1.05 ETH')